

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2> Active Restaurant List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>OpenTime</th>
            <th>CloseTime</th>
            
            
          </tr>
        </thead>
        <tbody *ngFor="let rest of restaurant">
          <tr *ngIf="rest.isactivated">
            <td>{{rest.name}}</td>
            <td>{{rest.address}}</td>
            <td>{{rest.opentime}}</td>
            <td>{{rest.closetime}}</td>
            <td><button (click)="restaurantDetails(rest.id)" class="btn btn-info" style="margin-left: 10px">Info</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
